{% extends 'base.html' %}

{% block content %}
    {% for mensaje in get_flashed_messages() %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1> Listado de Clientes</h1>
    <a href="/clientes/createCli" class="btn btn-info">
        Nuevo Cliente
    </a>
    <table class="table table-hoover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.username }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="/clientes/editarCli/{{cliente.id}}">Actualizar</a>
                </td>
                <td>
                    <a href="/clientes/eliminarCli/{{cliente.id}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}